#Slider {
  background: #fff;
  min-height: 100vh;
  padding-top: 130px;
}
.pagination {
  display: flex;
  gap: 140px;
  justify-content: center;
}
.pagination button {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.7;
  border: none;
  background: none;
}
.pagination button:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  transform: scale(0.9);
}
.bags-slider {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.bags-slider img {
  padding: 24px 10px;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  width: 250px;
  height: 280px;
}

@media only screen and (max-width: 600px) {
  .slider {
    gap: 0;
    text-align: center;
  }
  .bags-slider {
    flex-wrap: nowrap;
  }

  .bags-slider img {
    flex: 0 0 auto;
  }
}
