.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.footer-content {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content img {
  width: 50px;
  height: auto;
}
.footer-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.category-section h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.category-section span {
  color: #fff;

  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}
.contact-section h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.contact-section span,
a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}
.newsletter-section h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.category-section,
.contact-section,
.newsletter-section {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.newsletter-section input {
  padding: 15px 30px;
  border: 1px solid #fff;
  background: none;
  border-radius: 5px;
}
.newsletter-section button {
  border-radius: 4px;
  background: #f59b00;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  width: 120px;
}
